@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .diagonal-edge-left {
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Poppins", sans-serif !important;
    color: var(--primary);
}

.overlay-wrapper {
    position: relative;
    width: 100%;
}

.overlay-wrapper .background {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.overlay-wrapper .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.landing-header {
    min-height: 60vh;
}

.landing-header .feature-list {
    @apply text-gray-200 lg:text-primary-light;
}

/* snow */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.snow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("https://cdn.discordapp.com/attachments/744182992037216260/990023034524033105/snow1.png"), url("https://cdn.discordapp.com/attachments/744182992037216260/990023034758922250/snow2.png"), url("https://cdn.discordapp.com/attachments/744182992037216260/990023034951827556/snow3.png");
    animation: snow 20s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

h1,
h2 {
    color: var(--primary);
}

h1 {
    @apply md:text-7xl text-5xl font-bold;
}

h2 {
    @apply md:text-2xl text-xl;
}

h3 {
    @apply text-xl lg:text-2xl text-accent mb-4;
}

.btn {
    /* bg-gradient-to-r from-[#06adf4] to-[#13e5ee]  */
    @apply bg-accent px-4 py-2 text-white rounded-full shadow hover:shadow-md;
}

.feature-list {
    @apply text-primary-light text-xs flex flex-wrap;
}

.feature-list>li::before {
    content: "\2713";
    margin-right: 4px;
}

.feature-list > li{
    @apply whitespace-nowrap mr-2 mb-1;
}

.header-content-wrapper {
    @apply p-10 xl:p-20 w-2/5;
}

.main-px {
    @apply px-10 xl:px-20;
}

.custom-shape-divider-top-1663274745 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1663274745 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vw;
}

.wave-wrapper {
    @apply relative pt-[10vw] w-full;
}

.card {
    @apply rounded-md shadow-lg flex lg:flex-row flex-col-reverse overflow-hidden;
}

.card > img {
    @apply w-full lg:w-1/2 grow lg:diagonal-edge-left lg:ml-5 xl:ml-10 object-cover;
}

.card > div {
    @apply p-8 lg:max-w-lg pb-10;
}

.link {
    @apply text-accent underline cursor-pointer text-sm;
}